@import "~normalize.css";
@import "fonts.css";

html {
    --color: #e2eaf0;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: #0cacd4;
    text-align: center;
    font-family: "MyFont", Arial, sans-serif;
}


.card > img {
    max-width: 120px;
    width: 100%;
    height: auto;
}

.logo {
    background-image: url("../assets/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 100px;
    width: 300px;
    margin: 10px auto;
}

.code {
    background: #242b37;
    color: #e2ecf9;
    padding: 15px;
    display: block;
    text-shadow: 0 0 10px rgba(100, 100, 255, 0.5);
    font-size: 18px;
    line-height: 24px;
}
