$body-color: #222f3a;
$codecolor: #ffe835;


@function color-test($c1, $c2) {
  @return mix($c1, $c2, 50%)
}


html {
  --test: red;
  --card-bg: #c3ccd2
}

body {
  //background-color: var(--test);
  //background-color: rgb(blue, 50%);
  //background-color: mix(#ffffff, #133555, 80%);
  background-color: color-test($codecolor, $body-color);
}


.card {
  padding: 10px;
  width: 500px;
  border-radius: 6px;
  font-family: "MyFont", Arial, sans-serif;
  margin: 20px auto;
  background-color: var(--card-bg);

}


.code2 {
  font-family: "MyFont", Arial, sans-serif;
  background-color: mix(black, aqua, 95%);
  color: $codecolor;
  padding: 15px;
  display: block;
  font-size: 19px;
  line-height: 40px;
}

