@import "../fonts.css";

$codecolor: #4d4d4d;
$body-color: #eff5ff;

@function color-test($c1, $c2) {
    @return mix($c1, $c2, 50%);
}

:root {
    --background: #ffffff;
}
body {
    background-color: var(--background);
}

// Большие девайсы (десктопы, >= 992px)
@media (min-width: 992px) {
}

// Экстрабольшие девайсы (большие десктопы, >= 1200px)
@media (min-width: 1200px) {
}
